
.container {
    text-align: center;
}

.title {
    margin-top: 20px;
    margin-bottom: 20px;
    color: #ffffff;
    font-size: 60px;
}

.title span {
    color: #26ffcb;
}

.title img {
    padding: 0 5px;
    height: 50px;
}

.reset, .setting_btn {
    width: 150px;
    height: 80px;
    border: none;
    outline: none;
    cursor: pointer;
    border-radius: 50px;
    background-color: #1f3540;
    font-size: 26px;
    color: #26ffcb;
    margin-top: 25px;
    margin-bottom: 50px;
}

.setting_btn {
    position: fixed;
    top: 0;
    right: 0;
    margin: 0;
    width: auto;
    height: auto;
    padding: auto;
    padding: 0px 10px 5px;
    border-radius: 0 0 0 5px;
    background-color: #fff;
}

.board {
    width: 565px;
    height: 564px;
    display: flex;
    margin: auto;
    flex-wrap: wrap;
    justify-content: space-around;
}

.boxes {
    display: inline-flex;    
    width: 180px;
    height: 180px;
    background-color: #1f3540;
    /* border: 4px solid #0f1b21; */
    border-radius: 12px;
    cursor: pointer;
    transition: ease 0.5s all;
    box-shadow: inset 0 0 15px #1f3540;
    outline: none;
}

.boxes:active {
    box-shadow:inset 0 0 15px #3e6f87;
}

.boxes.active {
    pointer-events: none;
}

.boxes.active.win {
    background-color: #253f4b;
    box-shadow:inset 0 0 15px #3e6f87;
}

.boxes img {
    margin: 50px;
}

canvas {
    position: fixed !important;
    width: 100% !important;
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
  
  .switch input { 
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #2196F3;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }

@media (max-width: 550px){

    .title {
        font-size: 22px;
    }

    .title img {
        padding: 0 5px;
        height: 15px;
    }

    .board {
        height: 265px;
        width: 265px;
    }
    
    .boxes {
        width: 80px;
        height: 80px;
    }
    
    .boxes img {
        margin: 20px;
    }

    .reset {
        width: 140px;
        height: 50px;
        font-size: 16px;
    }
}